///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$tasty-config: (
  env: dev,
  healthcheck: false,
  debug: true,
);

// You can access data in this map using the following function:
//
// tasty-config(<key>)
//
// Example usage:
//
// @if (tasty-config(debug) == true) { ...  }

@function tasty-config($key) {
  @return map-get($tasty-config, $key);
}

// Be aware that enabling offsets produces a large chunk of classes which might
// bloat your CSS, depending on the amount of breakpoints you defined.
// Only set this to `true` if you are absolutely sure about what you are doing.
$tasty-offsets:false;
