///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$tasty-config: (
  env: dev,
  healthcheck: false,
  debug: true,
);

// You can access data in this map using the following function:
//
// tasty-config(<key>)
//
// Example usage:
//
// @if (tasty-config(debug) == true) { ...  }

@function tasty-config($key) {
  @return map-get($tasty-config, $key);
}
